@use 'variables' as *;
@use 'mixins' as *;

.image-upload {
    display: flex;
    flex-direction: column;
    gap: calc($gap / 2);

    &__preview {
        width: 100%;
        aspect-ratio: 16/10;
        border-radius: $border-radius-default;
        overflow: hidden;
        background: var(--box-background);

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__actions {
        display: flex;
        gap: calc($unit / 2);
    }

    &__button {
        @include button;
    }
}
